.btn-no-link {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del padre */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  padding: 0; /* Quita el padding extra si es necesario */
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
  pointer-events: none;
}

/* Cuando se muestre, ajustar la opacidad y posición */
.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.img-zoom {
  transition: transform 0.3s ease; /* Suaviza la transición */
}

.img-zoom:hover {
  transform: scale(1.04); /* Aumenta el tamaño al pasar el cursor */
}

.background-liderplast {
  background-color: #4a3084;
  color: #fff; /* Color del texto */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.background-liderplast:hover {
  background-color: #8b78b6; /* Color de fondo al pasar el cursor */
  color: #fff; /* Asegura que el texto siga visible */
}